<%- include("partials/header") %>

<div class="container">
    <div class="title">Bine ai venit!</div>
    <div class="access-patients">Dacă dorești să accesezi pacienții, o poți face de <a href="/patients">AICI</a>, dar trebuie să fii logat(ă) în cont înainte!</div>
    
    <img class="landing-img" src="../images/constr.png" alt="">
    <div class="sub-title">Această pagină este momentan în construcții, dar în curând va beneficia de o actualizare!</div>

</div>




<%- include("partials/footer") %>