<%- include("partials/header") %>


<div class="container">

    <div class="form">
        <div class="form-title">
            Înregistrare
        </div>

        <!-- <div class="form-social-media">
            <div class="item item-facebook">
                <i class="fa fa-facebook-f"></i>
            </div>
            <div class="item item-twitter">
                <i class="fa fa-twitter"></i>
            </div>
            <div class="item item-google">
                <i class="fa fa-google"></i>
            </div>
        </div> -->

        <form action="/register" method="POST">

            <div class="form-input-element">
                <input class="form-input" id="email" type="email" name="email" placeholder="Email">
                <i class="fa fa-envelope"></i>
            </div>

            <div class="form-input-element">
                <input class="form-input" id="password" type="password" name="password" placeholder="Parolă">
                <i class="fa fa-lock"></i>
            </div>
           
            <button class="form-submit">Continuă</button>   
                         
        </form>

        <div class="form-return">
            <a href="/">Înapoi</a>  
        </div>
    </div>

</div>


        
        
            
                
    
            
            
        


<%- include("partials/footer") %>